[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "git-radar"]
	path = git-radar
	url = git@github.com:michaeldfallen/git-radar.git
