/files/emacs.d/elpa
/files/emacs.d/auto-save-list
/files/emacs.d/savehist
/files/emacs.d/network-security.data
/files/emacs.d/saveplace
/files/emacs.d/projectile-bookmarks.eld
/files/emacs.d/ac-comphist.dat
/files/emacs.d/eshell/history
/files/emacs.d/ensime
/files/emacs.d/tramp
/files/emacs.d/.cask
/files/emacs.d/company-statistics-cache.el
/files/emacs.d/eshell/lastdir
/files/emacs.d/projectile.cache
/files/emacs.d/.python*
/files/emacs.d/.lsp-session-v1
/files/emacs.d/transient/history.el
/files/emacs.d/workspace
.cache
/files/emacs.d/groovy-language-server
