[submodule "tpm"]
	path = files/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim-plug"]
	path = files/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "i3blocks-contrib"]
	path = files/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
