[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "git-radar"]
	path = git-radar
	url = https://github.com/michaeldfallen/git-radar.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule "emacs.d/subconfigs"]
	path = emacs.d/subconfigs
	url = git@github.com:brocode/emacs_subconfigs.git
[submodule "secret"]
	path = secret
	url = git@gitlab.com:bomgar/secret.git
