os:
  editPreset: 'nvim'
git:
  pagers:
    - colorArg: always
      pager: delta --paging=never
  log:
    showWholeGraph: true
services:
  'git.dhl.com': 'github:git.dhl.com'
  'github.bus.zalan.do': 'github:github.bus.zalan.do'
gui:
  mouseEvents: true
  nerdFontsVersion: "3"
customCommands:
  - key: "E"
    command: "git commit --allow-empty -m '{{index .PromptResponses 0}}'"
    context: "files"
    description: 'Empty commit'
    prompts:
      - type: "input"
        title: "Enter commit message"
