# vim: filetype=gitconfig

[user]
  name = {{ .user.name | quote }}
  email = {{ .user.email | quote }}

[color]
  ui = true

[color "status"]
  added = green bold
  changed = magenta bold
  untracked = red bold

[push]
  default = tracking

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
{{ if eq .theme.variant "light" }}
    features = catppuccin-latte
{{ else }}
    features = catppuccin-mocha
{{ end }}

[delta "catppuccin-latte"]
	blame-palette = "#eff1f5 #e6e9ef #dce0e8 #ccd0da #bcc0cc"
	commit-decoration-style = box ul
	light = true
	file-decoration-style = "#4c4f69"
	file-style = "#4c4f69"
	hunk-header-decoration-style = box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#6c6f85"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#9ca0b0"
	line-numbers-minus-style = bold "#d20f39"
	line-numbers-plus-style = bold "#40a02b"
	line-numbers-right-style = "#9ca0b0"
	line-numbers-zero-style = "#9ca0b0"
	# 25% red 75% base
	minus-emph-style = bold syntax "#e8b9c6"
	# 10% red 90% base
	minus-style = syntax "#ecdae2"
	# 25% green 75% base
	plus-emph-style = bold syntax "#c3ddc3"
	# 10% green 90% base
	plus-style = syntax "#dee8e0"
	map-styles = \
		bold purple => syntax "#d5c3f4", \
		bold blue => syntax "#bbcff5", \
		bold cyan => syntax "#b4def1", \
		bold yellow => syntax "#ebd9bf"
	# Should match the name of the bat theme
	syntax-theme = Catppuccin-latte



[delta "catppuccin-mocha"]
	blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
	commit-decoration-style = box ul
	dark = true
	file-decoration-style = "#cdd6f4"
	file-style = "#cdd6f4"
	hunk-header-decoration-style = box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a6adc8"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = bold "#f38ba8"
	line-numbers-plus-style = bold "#a6e3a1"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	# 25% red 75% base
	minus-emph-style = bold syntax "#53394c"
	# 10% red 90% base
	minus-style = syntax "#34293a"
	# 25% green 75% base
	plus-emph-style = bold syntax "#404f4a"
	# 10% green 90% base
	plus-style = syntax "#2c3239"
	map-styles = \
		bold purple => syntax "#494060", \
		bold blue => syntax "#384361", \
		bold cyan => syntax "#384d5d", \
		bold yellow => syntax "#544f4e"
	# Should match the name of the bat theme
	syntax-theme = Catppuccin-mocha

[alias]
  st = status -uall -b
  rup = remote update --prune
  ffm = merge --ff-only
  uff = !sh -c 'git rup && git ffm'
  destroy = reset --hard
  pulr = pull --rebase
  co = checkout
  sur = submodule update --remote
  surr = submodule update --remote --recursive
  gcallthethings = -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc
  rootcd = rev-parse --show-toplevel
  force-push = push --force-if-includes --force-with-lease

[rerere]
  enabled = 1

[diff]
  tool = vimdiff
  algorithm = histogram

[web]
  browser = firefox

[status]
  submoduleSummary = true
[pull]
  rebase = true

# [url "git@github.com:"]
#   insteadOf = https://github.com/
[magit]
  hideCampaign = true

[commit]
  gpgsign = false

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[init]
  defaultBranch = main

[tig "color"]
  cursor    = white  black bold
  title-focus   = white  black bold
  title-blur   = white  236

[credential]
	helper = libsecret
