# vim: filetype=fish
if status is-interactive
  # Commands to run in interactive sessions can go here

{{ if eq .theme.variant "light" }}
  fish_config theme choose "Catppuccin Latte"
{{ else }}
  fish_config theme choose "Catppuccin Mocha"
{{ end }}

  set -x PATH ~/bin ~/.cargo/bin ~/go/bin $PATH

  set -g fish_greeting

  # Emulates vim's cursor shape behavior
  # Set the normal and visual mode cursors to a block
  set fish_cursor_default block blink
  # Set the insert mode cursor to a line
  set fish_cursor_insert line blink
  # Set the replace mode cursor to an underscore
  set fish_cursor_replace_one underscore blink
  set fish_cursor_replace underscore blink
  # The following variable can be used to configure cursor shape in
  # visual mode, but due to fish_cursor_default, is redundant here
  set fish_cursor_visual block blink

  set fish_vi_force_cursor true
  fish_vi_key_bindings
  fish_vi_cursor

  bind -M insert \cp up-or-search
  bind -M insert \cn down-or-search
  bind -M insert \cf accept-autosuggestion


  if command -q fzf
    fzf_key_bindings
  end
  if command -q fnm
    fnm env | source
  end

  if command -q fw
    if command -q fzf
      fw print-fish-setup -f | source
    else
      fw print-fish-setup | source
    end
  end

  if command -q starship
    starship init fish | source
  end

  if command -q eza
    functions -e ls
    functions -e la
    functions -e ll
    functions -e lt

    alias ls "command eza --icons=auto"
    alias la "command eza -la --icons=auto"
    alias ll "command eza -l --icons=auto"
    alias lt "command eza --tree --icons=auto"
  end

  alias zbn "zellij action rename-tab (basename (pwd))"
  alias pwn-docker 'docker rm -f (docker ps -a -q)'
  alias back-to-master "git checkout (git remote show origin | awk '/HEAD branch/ { print \$3 }') && git uff && git-trim"

  abbr --add gst "git status"
  abbr --add vim nvim
  abbr --add lg lazygit

  set -x SUDO_EDITOR nvim
  set -x EDITOR nvim
  set -x PAGER bat
  set -x WORDCHARS '*?_-.[]~=&;!#$%^(){}<>'
  set -x GOPATH ~/go
{{ if eq .theme.variant "light" }}
  set -x FZF_DEFAULT_OPTS " \
        --color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
        --color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
        --color=marker:#7287fd,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39 \
        --color=selected-bg:#bcc0cc \
        --multi"
{{ else }}
  set -x FZF_DEFAULT_OPTS "--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8  --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
{{ end }}

end
